/SpriteStudioForUGUI/Library
/SpriteStudioForUGUI/obj
/SpriteStudioForUGUI/Temp
/SpriteStudioForUGUI/*.csproj
/SpriteStudioForUGUI/*.sln
/SpriteStudioForUGUI/*.suo
/SpriteStudioForUGUI/Assets/SampleData/
/SpriteStudioForUGUI/Assets/SampleData.meta

/SpriteStudioForUGUI/Assets/Exports/
/SpriteStudioForUGUI/Assets/Exports.meta
