/UnityProject/Library
/UnityProject/obj
/UnityProject/Temp
/UnityProject/*.csproj
/UnityProject/*.sln
/UnityProject/*.suo
/UnityProject/Assets/SampleData/
/UnityProject/Assets/SampleData.meta

